* {
	box-sizing: border-box;
}
body {
	 background-color: #E6E6FA;
	color: #000;
	font-size: 1.6em;
	border-radius: 5px;
	border: 2px solid #556B2F;
	box-shadow: 2px 2px 2px #000;
	padding: 10px;
}
/****Header****/

#header-nav {
	background-color: #BDB76B;
	border-radius: 5px;
}
#img-perfil {
	width: 150px;
	height: 200px;
	margin: 10px 25px 10px 10px;
	background: url("../image/mariano-cv.jpg") no-repeat;
}
.navbar-brand {
	padding: 25px 0;
}
.navbar-brand h1 {
	color: #222;
	font-size: 1.5em;
	font-weight: bold;
	text-shadow: 1px 1px 1px #000;
	margin-top: 0;
	margin-bottom: 0;
	line-height: .7;
}
.navbar-tel h2 {
	color: #222;
	font-size: 1.3em;
	font-weight: bold;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}
.navbar-tel a:hover, .navbar-tel a:focus {
	text-decoration: none;
}
#nav-datos p {
	padding-top: 5px;
	color: #222;
	font-weight: bold;
	font-size: 1.4em;
}
.dropdown-menu{
	padding-top: 0;
	padding-bottom: 0;
}
.dropdown-menu > li > a {
	display: block;
    padding: 3px 20px;
    clear: both;
    font-weight: 400;
    line-height: 1.5;
    color: #556B2F;
    white-space: nowrap;
}	
.dropdown-menu li  a:hover {
	text-decoration: none;
	background-color: #556B2F;
	box-shadow: 1px 1px 5px 1px #1e268f;
}

#nav-list {
	font-size: 25px;
	margin-top: 45px;
}
#nav-list a {
	color: #222;
	text-align: center;
}
#nav-list a:hover, #nav-list a:focus {
	background-color: #556B2F;
	box-shadow: 1px 1px 5px 1px #1e268f;
	border-radius: 5px;
}
#nav-list a span {
	font-size: 1.3em;
}
.glyphicon {
	margin-bottom: 5px;
}




/****End Header****/

/****Main Content****/


.container-content {
	margin-left: 25px;
	margin-right: 25px;
	margin-bottom: 25px;
	padding-top: 25px;
	border-radius: 5px;
	border: 2px solid #556B2F; 
	box-shadow: 2px 2px 2px #000;

}
	

h2 {
	padding-bottom: 20px;
}


.box  {
	text-align: justify;
	padding: 15px;
}
.box:hover {
	border: 1px solid black;
	border-radius: 15px 50px;
	box-shadow: 1px 1px 5px 1px #556B2F;
}


.titulo {
	text-align: center;
	font-size: 1.3em;
	padding-bottom: 10px;
	font-weight: bold;
}

p {
	margin: 10px;
}

h5 {
	height: 53px;
	padding: 15px;
	font-size: 1.4em;
}

h5:hover {
	border-radius: 5px;
	border: 2px solid #556B2F; 
	box-shadow: 2px 2px 2px #000;
}

.trabajo {
	position: absolute;
	right: 15px;
	padding-right: 15px;
}

#datos {
	text-align: right;
	font-weight: bold;
}


#cv {
	font-size: 85px;
	color: #222;
	text-align: center;
	float: left;
	padding: 10px;

}

#experiencia {
	padding-left: 15px;
}


#cv:hover {
	background-color: #556B2F;
	box-shadow: 1px 1px 5px 1px #1e268f;
	border: 1px solid black;
	border-radius: 15px 30px;
}

#box1 {
	font-weight: bold;
	padding: 15px;
	border: 1px solid black;
	border-radius: 15px 50px;
	box-shadow: 1px 1px 5px 1px #556B2F;
	background-color: #F5F5DC;
}


/****End Main Content****/





/*****Large devices only*****/
@media (min-width: 1200px) {}

/*****Medium devices only*****/
@media (min-width: 992px) and (max-width: 1199px) {
	#nav-list {
	font-size: 15px;
	margin-top: 5px;
}

}

/**** Small device only****/
@media (min-width: 768px) and (max-width: 991px) {
/****Header****/

#nav-list {
	font-size: 12px;
	margin-top: 5px;	
}

/****End Header****/

}


/*****Extra Small device only*****/
@media (max-width: 767px) {
/* Header */

.navbar-tel h2 {	
	color: #222;
	font-size: 1.3em;
	font-weight: bold;
	}
#nav-list {
	font-size: 17px;
	margin-top: 5px;
}
/****End Header****/

/**** Main Content****/
.container-content {
	margin-left: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
}

h2 > span {
	padding-left: 15px;
}

.line {
	border: 4px solid #556B2F;
	border-radius: 5px;
	width: 70%;
}

hr {
	border: 1px solid #222;
	width: 70%;
}


/****End Main Content****/

}

/**** Super extra small devices only (moto 4g,etc...)****/
@media (max-width: 479px) {
	
.navbar-brand h1 {
	font-size: 1.4em;
	}

.navbar-tel h2 {
	font-size: 1.1em;
	}

#cv {
	font-size: 40px;
}

